<!doctype html>
<html lang="it">
<head th:replace="~{layout/bs5.html::head}"></head>
<body>
    <header th:replace="~{layout/bs5.html::header}"></header>
    <div class="container">
        <div class="card mt-3">

            <img src="https://imgs.search.brave.com/GDd60ZJZ_kOEV0KVGV32xLJgf1cHdwDOPRJJ5pm_S-U/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMud2l4c3RhdGlj/LmNvbS9tZWRpYS8y/MmM0MzFfMGNiZDQ1/ZWIzYzA2NGY0Y2Fh/YmFhNGNmOGYxN2Zm/MzZ-bXYyLnBuZy92/MS9maWxsL3dfNjky/LGhfMjY0LGFsX2Ms/cV84NSx1c21fMC42/Nl8xLjAwXzAuMDEs/ZW5jX2F1dG8vbG9n/byUyMGRvcy5wbmc" alt="Logo"></a>
            <div >
                <h1 class="card-title text-center"> VIDEO TOSTI</h1>
                <h1 class="card-title text-center"> PER TUTTI I COSTI</h1>
            </div>
        </div>
    </div>
<div> <br><br><br><br>
    <footer th:replace="~{layout/bs5.html::footer}">
    </footer>
</div>
</body>