<!doctype html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout/bs5.html::head}">
</head>
<body>
<header th:replace="~{layout/bs5.html::header}"></header>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Modifica interpretazione di <span th:text="${form.actor.firstname}"></span> <span th:text="${form.actor.lastname}"></span></h3>
        </div>

        <form th:action="'/actor/plays_update/'+${form.id}" method="post" th:object="${form}"><!-- ATTENZIONE CHE FORSE è PLAY -->
            <div class="card-body">
                <div class="mb-3 row">
                    <label for="role" class="col-4 col-form-label">Ruolo</label>
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="Ruolo" th:field="*{role}"/>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="film" class="col-4 col-form-label">Film</label>
                    <div class="col-8">
                        <select class="form-control" placeholder="Film" th:field="*{film}">
                            <option th:value="${form.film.id}" th:text="${form.film.title}"></option>
                            <option th:each="f : ${films}"
                                    th:value="${f.id}"
                                    th:text="${f.title}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <button type="submit" class="btn btn-outline-primary">
                    Invia
                </button>
            </div>
        </form>
    </div>



    <div class="card mt-3">
        <div class="card-header">
            <h3 class="card-title">Storico Interpretazioni</h3>
            <!--  <p th:text="${prova}"></p> -->
        </div>

        <div class="card-body">
            <div class="table-responsive" th:if="${!form.actor.plays.isEmpty()}">
                <div class="row" style="margin-right: 0;margin-left: 0;">
                    <div th:each="play : ${form.actor.plays}" class="col-md-3">
                        <div class="card bg-light text-center">
                            <div class="card-body justify-content-between align-items-center">
                                <div>
                                    <span>Ruolo</span>
                                    <h5 class="card-title" th:text="${play.role}"></h5>
                                    <span>Titolo</span>
                                    <h5>
                                        <a th:href="@{/film/plays/} + ${play.film.id}" th:text="${play.film.title}"></a>
                                    </h5>
                                    <span>Regista</span>
                                    <h6 th:text="${play.film.director}"></h6>
                                    <span>Uscita</span>
                                    <h7 th:text="${play.film.published}"></h7>
                                    </p>
                                </div>

                                <a class="btn btn-outline-warning" th:href="@{/actor/plays_update/} + ${play.id}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>

                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                            data-th-data-bs-target="'#modale' + ${play.id}">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                    <div class="modal fade" th:id="'modale' + ${play.id}" data-bs-backdrop="static"
                                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Conferma
                                                        cancellazione</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Vuoi eliminare l'interpretazione in <span
                                                            th:text="${play.film.title}"></span>?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                        Annulla
                                                    </button>
                                                    <a type="button" class="btn btn-outline-danger"
                                                       th:href="@{/actor/del_play/} + ${play.id}">
                                                        Elimina
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
<footer th:replace="~{layout/bs5.html::footer}">

</footer>
</body>

</html>